* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*cores*/
   
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%);
    --White: hsl(0, 0%, 100%);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--DarkBlue), var(--GrayishBlue));
}