@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*cores*/
   
    --DarkBlue: hsl(249, 57%, 16%);
    --GrayishBlue: hsl(246, 59%, 31%);
    --White: hsl(0, 0%, 100%);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--DarkBlue), var(--GrayishBlue));
    font-family: 'Bebas Neue', cursive;
    color: var(--White);
}

.search-container {
    display: flex;
}

input {
    color: black;
    width: 100%;
    padding: 4px 6px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* input:focus {

} */

button {
    width: 50%;
    background-color: var(--White);
    color: black;
    padding: 4px 6px;
    margin: 8px 8px;
    display: flex;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px rgba(0,0,0,0.15);
    cursor: pointer;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    cursor: pointer
}


button:hover {
    size: 110%;
    transition: 400ms;
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 32px;
}
.temperature__description {

    font-size: 24px;
}

.temperature {
    flex-direction: column;
}

.degree__section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.temperature__degree__icon {
    margin-left: 5px;
}

.degree__section span {
     margin: 10px;
     font-size: 30px;
}

.degree__section h2 {
    font-size: 40px;
    color: var(--White)
}